*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(rgb(7 8 21),rgb(0 0 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x:center ;

}

#container{
    position:absolute;
    left: 50%;
    right: 50%;
}

#box-area{
    position: absolute;
    transform-style: preserve-3d;
}

.box{
    position: absolute;
    top: 350px;
    width: 200px;
    height: 200px;
    border: 2px solid white;
}

#box-front{
    transform: translate3d(-100px,-100px,100px);
}

#box-front{
    transform: translate3d(-100px,-100px,100px);
}