*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: radial-gradient(rgb(7 8 21),rgb(0 0 0));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x:center ;

}

#container{
    position:absolute;
    left: 50%;
    right: 50%;
}

#box-area{
    position: relative;
}

#box-front{
    position: absolute;
}